HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Maven Wrapper (Nên bỏ comment dòng này nếu bạn muốn commit cả Maven Wrapper lên để người khác dễ chạy)
# .mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### HỆ ĐIỀU HÀNH (Rác hệ thống) ###
.DS_Store
Thumbs.db

### BẢO MẬT (QUAN TRỌNG NHẤT - KHÔNG ĐƯỢC QUÊN) ###
.env
.env.*
*.log